# Constantes et Librairies

In [1]:
pip freeze

asttokens==2.4.1
colorama==0.4.6
comm==0.2.2
debugpy==1.8.1
decorator==5.1.1
executing==2.0.1
ipykernel==6.29.4
ipython==8.25.0
jedi==0.19.1
jupyter_client==8.6.2
jupyter_core==5.7.2
matplotlib-inline==0.1.7
nest-asyncio==1.6.0
numpy==1.26.4
packaging==24.0
pandas==2.2.2
parso==0.8.4
platformdirs==4.2.2
prompt_toolkit==3.0.45
psutil==5.9.8
pure-eval==0.2.2
Pygments==2.18.0
python-dateutil==2.9.0.post0
pytz==2024.1
pywin32==306
pyzmq==26.0.3
six==1.16.0
stack-data==0.6.3
tornado==6.4
traitlets==5.14.3
tzdata==2024.1
wcwidth==0.2.13
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pickle
import os
import sys
import pandas as pd

In [3]:
# CONSTANTES

# Environnement de développement
PYTHON_VERSION = "3.12.3"

# Base de données
FILENAME_BASE_AUTO = "base_auto_projet.pkl"
DIR_DATA = "./data"

In [4]:
# Vérification de la version python courante
if not(PYTHON_VERSION in sys.version):
    print(f"ATTENTION : ce notebook a été développé sous python {PYTHON_VERSION}.")
    print(f"version courante de python : {sys.version}")

# Chargement des données

In [5]:
filename = os.path.join(DIR_DATA, FILENAME_BASE_AUTO)
print(filename)

./data\base_auto_projet.pkl

In [6]:
with open(file=os.path.join(DIR_DATA, FILENAME_BASE_AUTO), mode="rb") as f:
    base_auto = pd.read_pickle(f)

# Jeu de données

In [7]:
base_auto.shape

(72878, 21)

Taille du jeu de données

- 72878 observations

- 21 features

In [8]:
base_auto.columns()

TypeError: 'Index' object is not callable

In [9]:
base_auto.describe()

,EXPOSITION,V_GROUPE_SRA,V_PUISSANCE,C_ZONE_RISQUE,C_CRM,C_ANCIENNETE_PERMIS,C_AGE,V_ANCIENNETE,CHARGE,NB_SINISTRES,ID,ANNEE_OBS,MOIS_OBS
count,72878.000000,72878.000000,69298.000000,72878.000000,72878.000000,72878.000000,65460.000000,72878.000000,72878.000000,72878.000000,72878.000000,72878.000000,72878.000000
mean,0.075626,0.999767,1.168259,2.033124,97.405582,2.387273,46.883134,5.762926,21.525779,0.008741,1451.338730,2019.738838,6.411825
std,0.019123,0.015271,0.894770,1.212347,7.236469,6.363081,15.666065,4.724290,351.454691,0.096556,933.302155,1.549749,3.470973
min,0.002738,0.000000,0.000000,1.000000,0.000000,-0.750000,14.520000,-1.140000,-6258.800000,0.000000,0.000000,2016.000000,1.000000
25%,0.079398,1.000000,1.000000,1.000000,95.000000,0.040000,36.600000,1.600000,0.000000,0.000000,669.000000,2019.000000,3.000000
50%,0.082136,1.000000,1.000000,2.000000,100.000000,0.750000,48.600000,4.520000,0.000000,0.000000,1346.000000,2020.000000,6.000000
75%,0.084873,1.000000,1.000000,2.000000,100.000000,2.050000,58.612500,9.400000,0.000000,0.000000,2141.000000,2021.000000,9.000000
max,0.084873,1.000000,7.000000,5.000000,195.000000,57.320000,80.070000,19.580000,13154.600000,2.000000,3687.000000,2022.000000,12.000000

Identification des données manquantes

In [13]:
base_auto.isna().any()

FORMULE                   False
EXPOSITION                False
V_TYPE_GARAGE             False
V_MARQUE                  False
V_GROUPE_SRA              False
V_PUISSANCE                True
V_USAGE                   False
C_CSP                     False
C_ZONE_RISQUE             False
C_TYPE_PERMIS             False
C_CRM                     False
C_ANCIENNETE_ASSURANCE    False
C_ANCIENNETE_PERMIS       False
C_AGE                      True
V_ANCIENNETE              False
CHARGE                    False
NB_SINISTRES              False
ID                        False
CODE_POSTAL                True
ANNEE_OBS                 False
MOIS_OBS                  False
dtype: bool

In [19]:
base_auto.isna().sum()

FORMULE                      0
EXPOSITION                   0
V_TYPE_GARAGE                0
V_MARQUE                     0
V_GROUPE_SRA                 0
V_PUISSANCE               3580
V_USAGE                      0
C_CSP                        0
C_ZONE_RISQUE                0
C_TYPE_PERMIS                0
C_CRM                        0
C_ANCIENNETE_ASSURANCE       0
C_ANCIENNETE_PERMIS          0
C_AGE                     7418
V_ANCIENNETE                 0
CHARGE                       0
NB_SINISTRES                 0
ID                           0
CODE_POSTAL                911
ANNEE_OBS                    0
MOIS_OBS                     0
dtype: int64

### Nombre de contrats différents traités dans la base

In [20]:
base_auto.ID.value_counts()

ID
14      83
52      81
23      81
90      79
96      79
        ..
3142     1
1177     1
1199     1
1211     1
3687     1
Name: count, Length: 3688, dtype: int64

### Nombre de formules différentes

In [22]:
base_auto.FORMULE.value_counts()

FORMULE
TOUT_RISQUE    40062
CONFORT        24368
BASE            8448
Name: count, dtype: int64